:root {
    --altura-header: 80px;
    --comprimento-header: 100%;
    --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-footer: 100%;
}


body {
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    font-family: 'Roboto', sans-serif;
}

.container-cadastro-faculdade {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bar {
    width: 91vw;
    height: 1px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #F2F2F2;
    margin-bottom: 3%;
}

.card-cadastro {
    width: 50vw;
    height: fit-content;
    background: rgba(212, 164, 255, 0.40);
    box-shadow: 1px 1px 15px rgb(143, 143, 143);
    margin-bottom: 5%;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-cadastro {
    height: 25vh;
    width: 100%;
    background-image: url(../assets/imgsFigma/bg-login.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F2F2F2;
    font-weight: bold;
    letter-spacing: 2px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-shadow: 2px 2px 9px rgb(80, 80, 80);
}

.formulario-cadastro{
    width: 90%;
    height: auto;
    margin-top: 5%;
}

.campo-texto {
    display: flex;
    flex-direction: column;
    width: 100%;    

}

.card_erro {
    display: none;
    backdrop-filter: blur(5px);/* Cor de fundo mais atraente */
    color: #000000; /* Texto em branco para contraste */
    width: 230px;
    position: fixed;
    border-radius: 10px;
    border: 2px solid #ff150093; /* Borda ligeiramente mais fina */
    padding: 20px; /* Maior espaçamento interno */
    margin-left: 50%; /* Centralize horizontalmente */
    transform: translateX(-50%); /* Centralize horizontalmente */
    right: -250px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra suave */
    transition: right 0.5s ease-in-out; 
    animation: slideInFromRight 1s ease-in-out forwards;
    animation: slideInFromRight 1s ease-in-out forwards, slideOutToRight 2s ease-in-out 2s forwards;
  }
  
  @keyframes slideOutToRight {
    0% {
      right: 10%; /* Inicialmente, na posição desejada */
    }
    100% {
      right: -500px; /* Volta para a direita após 5 segundos */
    }
  }
  
  @keyframes slideInFromRight {
    0% {
      right: -500px; /* Inicialmente, fora da tela à direita */
    }
    100% {
      right: 10%; /* Desliza para a esquerda para uma posição desejada */
    }
  }

.campo-texto label {
    font-weight: bold;
    letter-spacing: 2px;    
    

}

label {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.texto-especial {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.campo-texto input {
    background-color: rgba(255, 255, 255, 0.67);
    width: 100%;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.5);
    border: 0;
    height: 7vh;
    border-radius: 5px;
    margin-bottom: 2%; 
}

.texto-especial input {
    background-color: rgba(255, 255, 255, 0.67);
    border: none;
    height: 7vh;
    width: 22vw;
    font-size: 15px;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-bottom: 2%; 
    
}
.botao-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao-cadastro {
    height: 8vh;
    width: 15vw;
    border: 0;
    background: -webkit-linear-gradient(#a033ff, #075CAB);
    color: white;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    margin: 5%;
}

.botao-cadastro:hover {
    background: #a033ff;
}

.seta {
    font-size: 24px;
    margin: 4px;
    letter-spacing: 2px;
}


@media only screen and (max-width: 500px) {

    body {
        margin: 0;
        padding: 0;
        background-color: rgba(255, 255, 255, 1);
        font-family: 'Roboto', sans-serif;
    }
    :root {
        --altura-header: 80px;
        --comprimento-header: 100vw;
        --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
        --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
        --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
        --tamanho-footer: 65px;
      }
    
    .container-cadastro-faculdade {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .bar {
        width: 100%;
        height: 1px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #F2F2F2;
        margin-bottom: 3%;
    }
    .navbar{
        width: 100%;
        display: flex;
    }
    
    .card-cadastro {
        width: 80vw;
        height: fit-content;
        background: rgba(212, 164, 255, 0.40);
        box-shadow: 1px 1px 15px rgb(143, 143, 143);
        margin-bottom: 5%;
        color: rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .banner-cadastro {
        height: 25vh;
        width: 100%;
        background-image: url(../assets/imgsFigma/bg-login.jpg);
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #F2F2F2;
        font-weight: bold;
        letter-spacing: 2px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        text-shadow: 2px 2px 9px rgb(80, 80, 80);
    }
    
    .formulario-cadastro{
        width: 90%;
        height: auto;
        margin-top: 5%;
    }
    
    .campo-texto {
        display: flex;
        flex-direction: column;
        width: 100%;    
    
    }
    
    .campo-texto label {
        font-weight: bold;
        letter-spacing: 2px;    
        
    
    }
    
    label {
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px;
    }
    
    .texto-especial {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    
    .campo-texto input {
        background-color: rgba(255, 255, 255, 0.67);
        width:60vw;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 2px;
        color: rgba(0, 0, 0, 0.5);
        border: 0;
        height: 7vh;
        border-radius: 5px;
        margin-bottom: 2%; 
    }
    
    .texto-especial input {
        background-color: rgba(255, 255, 255, 0.67);
        border: none;
        height: 7vh;
        width: 30vw;
        font-size: 15px;
        letter-spacing: 2px;
        font-family: 'Roboto', sans-serif;
        color: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        margin-bottom: 2%; 
        
    }
    .botao-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .botao-cadastro {
        height: 8vh;
        width: 35vw;
        border: 0;
        background: -webkit-linear-gradient(#a033ff, #075CAB);
        color: white;
        font-weight: 600;
        cursor: pointer;
        border-radius: 5px;
        margin: 5%;
    }
    
    .botao-cadastro:hover {
        background: #a033ff;
    }
    
    .seta {
        font-size: 24px;
        margin: 4px;
        letter-spacing: 2px;
    }
    

}