:root {
    --altura-header: 80px;
    --comprimento-header: 100%;
    --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-footer: 100%;
}
body {
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 1);
    font-family: 'Roboto', sans-serif;
}

/* @media only screen and (min-width: 1200px) { */
    
    .container-cadastro-faculdade {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .titulo-cadastro{
        position: relative;
        right: 30%;
        margin-bottom: 70px;
        text-align: start;
        font-family: 'Roboto', sans-serif;
        font-size: 64px;
        
    }

    .titulo1{
        font-weight: 700;
        
    }

    .titulo2{
        font-weight: 300;
        color: rgba(189, 189, 189, 1);
        border-bottom: 3px solid rgba(242, 242, 242, 1);
    }

    .titulo-cadastro span{
        display: block;
       
    }

    .card-cadastro {
        width: 50vw;
        height: fit-content;
        background: rgba(7, 92, 171, 0.2);
        padding: 1%;
        margin-bottom: 5%;
        color: rgba(0, 0, 0, 0.5);
    }

    .campo-texto {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        width: 50vw;
    }

    .campo-texto label {
        font-weight: bold;
        letter-spacing: 2px;
        margin-bottom: 5px;
    }

    label {
        font-size: 20px;
        font-weight: bold;
    }

    .texto-especial {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    .campo-texto input {
        background-color: rgba(255, 255, 255, 0.67);
        border: none;
        height: 30px;
        padding: 8px;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 2px;
        color: rgba(0, 0, 0, 0.5);
    }

    .texto-especial input {
        background-color: rgba(255, 255, 255, 0.67);
        border: none;
        height: 30px;
        width: 23vw;
        padding: 11px;
        font-size: 15px;
        letter-spacing: 2px;
        font-family: 'Roboto', sans-serif;
        color: rgba(0, 0, 0, 0.5);
    }

    .botao-cadastro {
        color: white;
        font-size: 15px;
        letter-spacing: 3px;
        width: 222px;
        height: 70px;
        padding: 10px;
        margin-bottom: 30px;
        margin-top: 30px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        background-color: rgba(7, 92, 171, 0.67);
        cursor: pointer;
        border: none;
        transition: transform 0.3s, background-color 0.3s;
    }
    .botao-cadastro:hover {
        background-color: rgba(7, 92, 171, 0.5);
    }
    .seta{
        font-size: 24px; 
        margin: 4px;
        letter-spacing: 2px;
    }
    


@media only screen and (max-width: 500px) {
    
    body{
        max-width: 360px;
    }

    .titulo-cadastro{
        font-family: 'Roboto', sans-serif;
        margin: auto;
        
    }

    .titulo {
        color: #000000;
        width: fit-content;
        font-weight: 700;
        font-size: 20px;
        margin: -20px;
       
    }
    .titulo1 {
        font-weight: 700;
       
    }
    .titulo2{
        font-weight: 300;
        color: rgba(189, 189, 189, 1);
      
    }

    .container-cadastro-faculdade{
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin-bottom: 10%;
    }

    .container-cadastro-faculdade h1{
        color: #333333;
        font-size: 1.4em;
        font-style: normal;
        font-weight: 700;
        line-height: 64px;
        margin-left: 60px;
    }

    .card-cadastro {
        display: flex;
        flex-direction: column;
        height: fit-content;
        align-items: baseline;
        background: rgba(7, 92, 171, 0.2);
        color: rgba(0, 0, 0, 0.5);
        width: 80vw;
        margin: auto;
        padding: 15px;
    }
   
    .botao-cadastro{ 
        margin-left: 40vw;
        height: 6vh;
        width: 50vw;
        color: white;
        font-size: 0.9em;
        letter-spacing: 3px;
        margin-bottom: 30px;
        margin-top: 30px;
        position: relative;
        transform: translate(-50%);
        background-color: rgba(7, 92, 171, 0.67);
        cursor: pointer;
        border: none;
        transition: transform 0.3s, background-color 0.3s;
    }

    .botao-cadastro:hover {
        background-color: rgba(7, 92, 171, 0.5);
    }

    .campo-texto {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 50vw;
    }

    .campo-texto label {
        font-weight: bold;
    }

    label {
        font-size: 0.9em;
        font-weight: bold;
        margin-left: 5%;
        margin-bottom: 3%;
    }
    .texto-especial label{
        margin-left: 8%;
    }
    .texto-especial {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .texto-especial input {
        margin-left: 8%;
        margin-bottom: 3%;
        margin-top: 3%;
    }

    input{
        margin-bottom: 3%;
        margin-left: 5%;
        margin-top: 3%;
        width: 40vw;
        background-color: rgba(255, 255, 255, 0.67);
        border: none;
        height: 1.5vh;
        padding: 0.4em;
        font-size: 0.8em;
        font-family: 'Roboto', sans-serif;
        color: rgba(0, 0, 0, 0.5);
    }

    .dropdown-menu {
        left: 0 !important;
    }

}