/* PAGINA DOS GRÁFICOS */

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: #f2f2f2;
}

.text {
  font-size: 18px;
}

.janela {
  display: flex;
  width: 100%;
  background-color: #f2f2f2;
  justify-content: space-between;
  padding-top: 15px;
}

/* NAV BAR SUPERIOR */

.nav-bar {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: center;
}

.container-nav-bar {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.container-nav-bar img {
  width: 100px;
  height: 50px;
}

.container-nav-bar a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.container-nav-bar a:hover {
  color: #000000;
}

.container-nav-bar ul {
  width: 20%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.agora {
  font-weight: 600;
}


/* NAV BAR LATERAL */
.header-left {
  height: 130vh;
  width: 23%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  box-shadow: 1px 1px 15px rgba(91, 91, 91, 0.77);
  margin-right: 2%;
}

/* Informações usuário */
.hello {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 20%;
}

.hello img {
  width: 4vw;
  margin-left: 10%;
  margin-right: 5%;

}

.text-hello h3 {
  color: #000000;
  font-weight: 800;
  font-size: 1.2rem;
  margin: 0%;
}

.text-hello h4 {
  color: #808080;
  margin: 0%;
}

/* Botões principais */
.btn-nav {
  display: flex;
  align-items: center ;
  width: 100%;
  height: 10vh;
  color: #808080;
  cursor: pointer;
  padding: 0;
  margin-top: 2%;
}

.btn-nav-current{
  display: flex;
  align-items: center ;
  width: 100%;
  height: 10vh;
  color: #212124;
  cursor: pointer;
  padding: 0;
  margin-top: 2%;
}


/* Botões principais selecionados */
.btn-nav-server h3 {
  width: 100%;
  color: #808080;
  padding: 0;
  margin: 0;
  cursor: pointer;
} 

.btn-nav-server{
  width: 100%;
  display: flex;
  align-items: center;
}

/* icon dos botões principais */
.img_icon{
  width: 30px;
  height: 30px;
  margin-left: 10%;
  margin-right: 5%;
}
.container-server{
  margin-top: 15%;
}

.header-left a {
  text-decoration: none;
  color: white;
}

/* FORMULÁRIO */

.dash{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

/* CADASTRO DA EQUIPE */

.regua {
  display: flex;
  justify-content: space-between;
  width: 98%;
}

.perigo {
  background-color: #ff3131;
  box-shadow: 1px 1px 15px rgba(91, 91, 91, 0.77);
  border-radius: 15px;
}

.alerta {
  background-color: #ffe600;
  box-shadow: 1px 1px 15px rgba(91, 91, 91, 0.77);
  border-radius: 15px;
}

.ideal {
  background-color: #5fb300;
  box-shadow: 1px 1px 15px rgba(91, 91, 91, 0.77);
  border-radius: 15px;
}

.item-regua {
  padding: 5px;
  width: 30%;
  margin-top: 0%;
  text-align: center;
  padding-top: 15px;
}

.item-regua h4{
  color: #ffffff;
  margin: 2%;
}

.item-regua h1{
  color: #ffffff;
  margin: 0%;
  margin-bottom: 5%;
}

/* VISÃO GERAL */
.container-card{
  width: 100%;
  height: auto;
  display: block;
  box-shadow: 1px 1px 15px rgba(91, 91, 91, 0.77);
}

.card-media{
  width: 100%;
  height: 100px;
  margin-top: 0%;
  display: flex;
  flex-direction: column;
}

.card-media h4{
  color: #ffffff;
  margin-left: 5%;
  margin-bottom: 0%;
  font-size: 15px;
}

.card-media h2{
  color: #ffffff;
  text-align: center;
  font-size: 25px;
  margin: 0%; 
  margin-top: 3%;
}

.geral{
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}

.visaoGeral{
  width: 230px;
  height: 90vh;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-geral{
  padding: 1%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 96%;
  box-shadow: 1px 1px 15px rgba(91, 91, 91, 0.77);
  margin-top: 3%;
  margin-bottom: 2%;
  border-radius: 15px;
}





