/*RESOLUÇÃO DESKTOP = 1366 x 768*/
body {
  background-color: #F2F2F2;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* @media only screen and (min-width: 1200px) { */
:root {
  --altura-header: 80px;
  --comprimento-header: 100%;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 100%;
}

.sobreBar {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bar {
  width: 91vw;
  height: 1px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #F2F2F2;
  cursor: pointer;
}


.hiddenPc {
  display: none;
}


/* .container {
  display: flex;
  align-items: center;
  flex-direction: auto;
} */



.header .container {
  justify-content: space-between;
  align-items: center;
  height: 80vh;
}

.header a {
  text-decoration: none;
  color: #000000;
}

.agora {
  font-weight: 800px;
}

.navbar {
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  text-decoration: none;
}

.titulo {
  color: #000000;
  width: fit-content;
  font-weight: 700px;
  font-size: 40px;
  /* margin: -80px; */
}

#main_home {
  background: url("https://img.freepik.com/vetores-premium/fundo-de-linhas-abstratas-linhas-pretas-finas-em-bg-branco_760443-211.jpg?w=2000");
  background-size: cover;
  background-attachment: fixed;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.container1_home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


#text_home {
  font-size: 36px;
  font-weight: 400vw;
}

#home_imagem {
  position: relative;
  display: inline-block;
}

.container-main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.titulo-conteudo {
  color: #D4A4FF;
  font-weight: 700;
  font-size: 55px;
  margin-bottom: 3%;
  margin-top: 3%;
  display: flex;
  justify-content: center;
}

.card-conteudo {
  width: 25vw;
  height: 70vh;
  display: flex;
  padding: 1%;
  flex-direction: column;
  background-color: #D4A4FF;
  text-align: center;
  border-radius: 9px;
  transition-duration: 0.5s;
}

.card-conteudo p{
  margin-top: 12%;
  text-align: justify;
  font-size: 20px;
  /* font-weight: 500; */
}

.card-conteudo:hover {
  -xpedu-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: #8d8c8c 4px 25px 45px;
}

.imagem-card1 {
  height: 40vh;
}

.imagem-card2 {
  height: 40vh;
}

.imagem-card3 {
  height: 40vh;
}

/* sobre nós */

/* objetivos */
.container_objetivos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120vh;
  flex-direction: column;
  align-content: center;
  list-style: none;
  text-decoration: none;
}

/* .container_objetivos p{
  width: 555px;
  
} */



#titulo_objetivos {
  color: #075CAB;
  font-weight: 700px;
  font-size: 55px;
}

.texto-objetivos {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  width: 50%;
}

.imagemObjetivos .img {
  width: 100%;
  height: 30vh;
}

/* como funciona */

.tituloComoFunciona {
  height: 3vh;
  margin-top: 10%;
}

#funciona_titulo {
  color: #D4A4FF;
  padding-left: 5rem;
  font-weight: 700px;
  font-size: 55px;
}

.container_funcionamento {
  display: flex;
  align-items: center;
  width: 80vw;
  height: 110vh;
  margin: 10px auto 0;
  justify-content: space-between;
  margin-top: -12%;
}

.container_funcionamento {
  padding: 3%;
}

.divImagem {
  height: 350px;
  margin-top: 25px;
}

.divImage h1,
a {
  text-align: center;
}


.container_funcionamento a {
  text-decoration: none;
  transition: transform 1s ease;
}

.container_funcionamento a :hover {
  transform: scale(1.1);
}

.container_funcionamento h4 {
  font-size: 3vh;
}


#entenda {
  padding-top: 3rem;
}

.right_img {
  display: flex;
  align-items: center;
}


.acima {
  position: absolute;
  z-index: 9;
}

.titulo_funcionamento {
  background-color: #2c2c2c7e;
}

/* contato */

.containerContato {
  display: flex;
  justify-content: center;
  height: 75vh;
  margin-bottom: 8%;
  margin-top: 8%;
}

.contato1 {
  background-color: rgb(7, 92, 171, 0.433);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 70vw;
  height: fit-content;
  margin-bottom: 5%;
}

.contato1 h1 {
  color: white;
  font-size: 8vh;
  font-weight: 400;
}

.contato1 input {
  text-decoration: none;
  border: none;
  color: #000000;
  font-weight: 700;
  height: 7vh;
  width: 40vw;
  font-size: 0.7em;
  background-color: #075cab4b;
  text-align: center;
}

.contatoInputs {
  padding: 1rem;

}

.contatoInputs input::placeholder {
  color: whitesmoke;
}

#mensagem_input {
  text-align: start;
}

#mensagem_input::placeholder {
  text-align: center;
  color: whitesmoke;
}

.contato1 button {
  border: none;
  background-color: #333333;
  color: white;
  font-family: 'Roboto', sans-serif;
  width: 20vw;
  letter-spacing: 0.2em;
  padding: 2%;
  margin-bottom: 5%;
}

.contato1 button span {
  font-weight: bold;
}

/* Div do Nosso Time */
#nossaEquipe {
  margin-left: 5%;
  width: 56%;
  margin-bottom: 250px;
  display: inline;
  justify-content: space-evenly;
  align-items: center;
  /* margin-top: -25%; */
}

/* #equipeTitulo{
font-family: 'Roboto', sans-serif;
color: rgba(170, 170, 170, 1);
font-weight: 300px;
margin-top: 50px;
padding: 0;
margin-left: 5%;

}

#nossaEquipe img{
  border-radius: 100%;
  width: 350px;
  height: 450px;
} */

/*Cards da equipe*/

.content-cards h1 {
  display: flex;
  color: #D4A4FF;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-weight: 700px;
  font-size: 55px;
}

.card {
  background-color: rgb(255, 255, 255);
  /* margin: 30px; */
  width: 15vw;
  height: 45vh;
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2%;

}

.card img {
  height: 20vh;
  border-radius: 15px;
}

.card a {
  color: #009EA3;
}

/* .card h2,
p {
  /* color: #3B3538;
  margin-top: 25px;
  margin-bottom: 5px; 
} */

.card p {
  font-size: 20px;
}

.part02,
.part01 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3%;
}

/* FIM DOS DESENVOLVEDORES */






/* } */

/* celular */
@media only screen and (max-width: 500px) {
  body {
    background-color: #F2F2F2;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }


  :root {
    --altura-header: 80px;
    --comprimento-header: 100%;
    --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-footer: 100%;
  }

  /* 
  .header {
    height: var(--altura-header);
    width: var(--comprimento-header);
  } */

  /* .dropdown-menu {
    display: none;
  } */

  .sobreBar {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .bar {
    width: 91vw;
    height: 1px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #F2F2F2;
  }

  .hiddenPc {
    display: none;
  }

  .header .container {
    justify-content: space-between;
    align-items: center;
    height: 80vh;
  }

  .header a {
    text-decoration: none;
    color: #000000;
    display: flex;
    justify-content: center;
  }

  .agora {
    font-weight: 800px;
  }

  .navbar {
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    text-decoration: none;
  }

  .titulo {
    color: #000000;
    width: fit-content;
    font-weight: 700px;
    font-size: 40px;
    /* margin: -80px; */
  }

  #main_home {
    background: url("https://img.freepik.com/vetores-premium/fundo-de-linhas-abstratas-linhas-pretas-finas-em-bg-branco_760443-211.jpg?w=2000");
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 5%;
  }

  .container-main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: fit-content;
  }

  .titulo-conteudo {
    color: #D4A4FF;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

  }

  .card-conteudo {
    width: 80vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #D4A4FF;
    border-radius: 9px;
    margin-bottom: 4%;
  }

  /* .card-conteudo:hover {
    -xpedu-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);

  } */

  .imagem-card1 {
    height: 38vh;
  }

  .imagem-card2 {
    height: 38vh;
  }

  .imagem-card3 {
    height: 38vh;
  }

  .container1_home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4%;
  }

  .container1_home img {
    width: 70%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;

  }



  #text_home {
    font-size: 20px;
    /* font-weight: 4vw; */
    justify-content: center;
    display: flex;

  }

  #home_imagem {
    position: relative;
    display: inline-block;
  }

  /* sobre nós */

  /* objetivos */
  .container_objetivos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-content: center;
  }

  .container_objetivos img {
    width: 100%;
    height: 30vh;
  }



  #titulo_objetivos {
    color: #075CAB;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;

  }

  .texto-objetivos {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    width: 90vw;
    margin-top: 5%;
  }


  /* contato */

  .containerContato {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
  }

  .contato1 {
    background-color: rgb(7, 92, 171, 0.433);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
  }

  .contato1 h1 {
    color: white;
    font-size: 5vh;
    font-weight: 400;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contato1 input {
    text-decoration: none;
    border: none;
    color: #000000;
    font-weight: 700;
    height: 7vh;
    width: 60vw;
    font-size: 0.7em;
    background-color: #075cab4b;
    text-align: center;
  }

  .contatoInputs {
    padding: 1rem;

  }

  .contatoInputs input::placeholder {
    color: whitesmoke;
  }

  #mensagem_input {
    text-align: start;
  }

  #mensagem_input::placeholder {
    text-align: center;
    color: whitesmoke;
  }

  .contato1 button {
    border: none;
    background-color: #333333;
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 60vw;
    letter-spacing: 0.2em;
    padding: 2%;
  }

  .contato1 button span {
    font-weight: bold;
  }

  /* Div do Nosso Time */
  #nossaEquipe {
    /* margin-left: 5%; */
    width: 56%;
    /* margin-bottom: 250px; */
    display: inline;
    justify-content: space-evenly;
    align-items: center;
    /* margin-top: -25%; */
  }



  /*Cards da equipe*/

  .content-cards h1 {
    display: flex;
    font-size: 30px;
    color: #D4A4FF;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
  }

  .card {
    background-color: rgb(255, 255, 255);
    width: 55vw;
    height: 45vh;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin-bottom: 5%;
  }

  .card img {
    height: 20vh;
    border-radius: 15px;
  }

  .card a {
    color: #009EA3;
  }

  .card h2,
  p {
    color: #3B3538;
    margin-top: 25px;
    margin-bottom: 5px;
    text-align: center;
  }

  .card p {
    font-size: 20px;
  }

  .part02,
  .part01 {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-bottom: 0;

  }

  /* FIM DOS DESENVOLVEDORES */
}