:root {
    --altura-header: 80px;
    --comprimento-header: 100%;
    --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-footer: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

/* @media only screen and (min-width: 1200px) { */
    .right-login {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .card-login {
        width: 50vw;
        height: fit-content;
        flex-shrink: 0;
        background: rgba(212, 164, 255, 0.40);
        padding: 1%;
        margin-bottom: 5%;
    }

    .card-login label {
        padding: 5%;
        font-weight: bold;
        color: #333333;
        font-size: large;
        letter-spacing: 3px;
    }

    .card-login .validacao {
        display: flex;
        justify-content: center;
        padding: 2%;
        text-align: center;
        font-weight: bold;
        font-size: small;
    }

    .card-login input {
        border: 0;
        margin-bottom: 2%;
        margin-left: 5%;
        margin-top: 2%;
        height: 8vh;
        width: 44vw;
        font-size: x-large;
        background: rgba(255, 255, 255, 0.67);
    }

    .card-login .container-button {
        display: flex;
        justify-content: center;
    }

    .card-login button {
        height: 10vh;
        width: 12vw;
        border: 0;
        background-color: rgba(201, 141, 255, 0.85);
        color: white;
        cursor: pointer;
    }

    .seta {
        font-size: x-large;
    }

    .main-login h1 {
        color: #333333;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px;
        margin-left: 4%;
        /* 100% */
    }

    .bar {
        width: 91vw;
        height: 1px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #F2F2F2;
        margin-bottom: 3%;
        margin-top: -2%;
    }

/* } */

@media only screen and (max-width: 500px) {

    .right-login {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .card-login {
        width: 80vw;
        height: fit-content;
        flex-shrink: 0;
        background: rgba(212, 164, 255, 0.40);
        padding: 1%;
        margin-bottom: 5%;
    }

    .card-login label {
        padding: 5%;
        font-weight: bold;
        color: #333333;
    }

    .card-login .validacao {
        display: flex;
        justify-content: center;
        padding: 2%;
        text-align: center;
        font-weight: bold;
        font-size: small;
        line-height: 1.5em;
    }

    .card-login input {
        border: 0;
        margin-bottom: 2%;
        margin-left: 5%;
        margin-top: 2%;
        height: 8vh;
        width: 70vw;
        font-size: x-large;
    }

    .card-login .container-button {
        display: flex;
        justify-content: center;
    }

    .card-login button {
        height: 7vh;
        width: 26vw;
        border: 0;
        background-color: rgba(201, 141, 255, 0.85);
        color: white;
        cursor: pointer;
    }

    .main-login h1 {
        color: #333333;
        font-size: 1.4em;
        font-style: normal;
        font-weight: 700;
        line-height: 64px;
        margin-left: 4%;
        /* 100% */
    }

    .bar {
        width: 91vw;
        height: 1px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #F2F2F2;
        margin-bottom: 3%;
    }

}