:root {
    --altura-header: 80px;
    --comprimento-header: 100%;
    --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-footer: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.bar {
    width: 91vw;
    height: 1px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #F2F2F2;
    margin-bottom: 3%;
}

.card_erro {
    display: none;
    backdrop-filter: blur(5px);/* Cor de fundo mais atraente */
    color: #000000; /* Texto em branco para contraste */
    width: 230px;
    position: fixed;
    border-radius: 10px;
    border: 2px solid #ff150093; /* Borda ligeiramente mais fina */
    padding: 20px; /* Maior espaçamento interno */
    margin-left: 50%; /* Centralize horizontalmente */
    transform: translateX(-50%); /* Centralize horizontalmente */
    right: -250px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra suave */
    transition: right 0.5s ease-in-out; 
    animation: slideInFromRight 1s ease-in-out forwards;
    animation: slideInFromRight 1s ease-in-out forwards, slideOutToRight 2s ease-in-out 2s forwards;
  }
  
  @keyframes slideOutToRight {
    0% {
      right: 10%; /* Inicialmente, na posição desejada */
    }
    100% {
      right: -500px; /* Volta para a direita após 5 segundos */
    }
  }
  
  @keyframes slideInFromRight {
    0% {
      right: -500px; /* Inicialmente, fora da tela à direita */
    }
    100% {
      right: 10%; /* Desliza para a esquerda para uma posição desejada */
    }
  }

.right-login {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-login {
    width: 70vw;
    height: 90vh;
    background: rgba(212, 164, 255, 0.40);
    margin-bottom: 5%;
    display: flex;
    border-radius: 15px;
    box-shadow: 1px 1px 15px rgb(143, 143, 143);
    flex-direction: column;
    
}

.card-form, .card-welcome{
    width: 98%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.card-welcome{
    background-image:url(../assets/imgsFigma/bg-login.jpg);
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: column;
}

.card-welcome h1{
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    margin: 1%;
}

.card-welcome p, a{
    margin: 0%;
    color: #F2F2F2;
}

.card-login label {
    font-weight: bold;
    color: #777777;
    font-size: large;
    letter-spacing: 3px;
    margin-top: 10px;
}

.title{
    color: #075CAB;
    font-weight: bold;
    letter-spacing: 2px;
}

.validacao {
    color: #777777;
    display: flex;
    justify-content: center;
    padding: 2%;
    text-align: center;
    font-size: small;
}

.card-login input {
    border: 0;
    height: 7vh;
    width: 30vw;
    background: rgba(255, 255, 255, 0.67);
    border-radius: 5px;
    margin-bottom: 5%;
    font-size: 15px;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.5);
}

.card-login .container-button {
    display: flex;
    justify-content: center;
}

.card-login button {
    height: 8vh;
    width: 15vw;
    border: 0;
    background: -webkit-linear-gradient(#a033ff, #075CAB);
    color: white;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
}

.card-login button:hover {
    background: #a033ff;
}

.seta {
    font-size: x-large;
}

@media only screen and (max-width: 500px) {

    body {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        background-color: white;
    }
    
    .bar {
        width: 100%;
        height: 1px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #F2F2F2;
        margin-bottom: 3%;
    }
    .navbar{
        width: 100%;
        display: flex;
    }
    
    .right-login {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .card-login {
        width: 80vw;
        height: 70vh;
        background: rgba(212, 164, 255, 0.40);
        margin-bottom: 5%;
        display: flex;
        border-radius: 15px;
        box-shadow: 1px 1px 15px rgb(143, 143, 143);
        flex-direction: column;
        
    }
    
    .card-form, .card-welcome{
        width: 98%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1%;
    }
    
    .card-welcome{
        background-image:url(../assets/imgsFigma/bg-login.jpg);
        background-size: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        display: flex;
        flex-direction: column;
    }
    
    .card-welcome h1{
        color: #ffffff;
        font-style: normal;
        font-weight: 700;
        line-height: 64px;
        margin: 1%;
    }
    
    .card-welcome p, a{
        margin: 0%;
        color: #F2F2F2;
    }
    
    .card-login label {
        font-weight: bold;
        color: #777777;
        font-size: large;
        letter-spacing: 3px;
        margin-top: 10px;
    }
    
    .title{
        color: #075CAB;
        font-weight: bold;
        letter-spacing: 2px;
    }
    
    .validacao {
        color: #777777;
        display: flex;
        justify-content: center;
        padding: 2%;
        text-align: center;
        font-size: small;
    }
    
    .card-login input {
        border: 0;
        height: 7vh;
        width:45vw;
        background: rgba(255, 255, 255, 0.67);
        border-radius: 5px;
        margin-bottom: 5%;
        font-size: 15px;
        letter-spacing: 2px;
        font-family: 'Roboto', sans-serif;
        color: rgba(0, 0, 0, 0.5);
    }
    
    .card-login .container-button {
        display: flex;
        justify-content: center;
    }
    
    .card-login button {
        height: 8vh;
        width: 35vw;
        border: 0;
        background: -webkit-linear-gradient(#a033ff, #075CAB);
        color: white;
        font-weight: 600;
        cursor: pointer;
        border-radius: 5px;
    }
    
    .card-login button:hover {
        background: #a033ff;
    }
    
    .seta {
        font-size: x-large;
    }
}