:root {
    --altura-header: 80px;
    --comprimento-header: 100%;
    --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
    --tamanho-footer: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}
@media only screen and (min-width: 1200px) {
    .header {
        height: var(--altura-header);
        width: var(--comprimento-header);
    }

    .container {
        display: flex;
        width: 80vw;
        margin: auto;
    }

    .header .container {
        justify-content: space-between;
        align-items: center;
        height: 80px;
    }

    .header a {
        text-decoration: none;
        color: #000000;
    }

    .agora {
        font-weight: 800;
    }

    .navbar {
        width: 40vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        color: #e3b062;
    }

    ul {
        list-style-type: none;
    }

    .container-cadastro-faculdade {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .card-cadastro {
        width: 50vw;
        height: fit-content;
        background: rgba(7, 92, 171, 0.2);
        padding: 1%;
        margin-bottom: 5%;
    }
    .text-field {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        width: 50vw;
    }
    .text-field label {
        font-weight: bold;
        margin-bottom: 5px;
    }
    .text-especial{
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
   
    .Footer {
        display: flex;
        justify-content: space-between;
        background-color: #2C2C2C;
    }

    .innerFooter {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: #2C2C2C;
    }

    .logoFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logoGrande {
        width: 100%;
        height: 110px;
    }

    .logoSigla {
        width: 66%;
    }

    .informacoes {
        display: flex;
        width: 90%;
        justify-content: space-between;
    }

    .informacaoContatos {
        padding-top: 10px;
        width: 70%;
        display: flex;
        justify-content: space-around;

    }

    .informacao {
        display: flex;
        flex-direction: column;
        color: snow;
        align-items: center;

    }

    .informacao span {
        font-family: Arial, Helvetica, sans-serif;
        /* Roboto */
        font-weight: bold;
    }

    .informacao ul {
        padding-inline-start: 0px;
        line-height: 27px;
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
        /* Roboto */
    }

    .iconContato {
        display: flex;
        justify-content: space-between;
        max-height: 130px;
        width: 23%;
    }

    .contato {
        color: snow;
    }

    .contato span {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    .iconsEnderecoEmail {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /* .separador{
        height: 12px;
    } */

    .emailEndereco {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100px;
        margin-block-start: 1em;
    }

    .endereco {
        display: flex;
        flex-direction: column;
        line-height: 17px;
    }

    .endereco span {
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
    }

    .emailTel {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        min-height: 50px;
    }

    .social {
        width: 10%;
        max-height: 60px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: snow;
        background-color: #2C2C2C;
    }

    .spanSocial {
        display: flex;
        justify-content: center;
        width: 88%;
    }

    .social span {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    .iconsSocial {
        display: flex;
        justify-content: space-around
    }
}
@media only screen and (max-width: 500px) {
    body{
        max-width: 360px;
    }

    .header {
        height: var(--altura-header);
        width: var(--comprimento-header);
    }
    
    .container {
        display: flex;
        width: 80vw;
        margin: auto;
    }
    
    .header .container {
        width: 80vw;
        justify-content: space-between;
        align-items: center;
        height: 80px;
    }
    
    .header a {
        text-decoration: none;
        color: #000000;
    }
    
    .agora {
        font-weight: 800;
    }
    
    .navbar {
        width: 64vw;
        font-size: 0.7em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        color: #e3b062;
        padding-inline-start: 0em;
    }

    .titulo {
        color: #000000;
        width: fit-content;
        font-weight: 700;
        font-size: 20px;
        margin: -20px;
    }

    .container-cadastro-faculdade{
        display: flex;
        flex-direction: column;
    }

    .container-cadastro-faculdade h1{
        color: #333333;
        font-size: 1.4em;
        font-style: normal;
        font-weight: 700;
        line-height: 64px;
        margin-left: 60px;
    }

    .card-cadastro {
        display: flex;
        flex-direction: column;
        height: fit-content;
        background: rgba(7, 92, 171, 0.2);
        padding: 1%;
        margin-bottom: 5%;
    }

    .card-cadastro button{ 
        margin-left: 120px;
        height: 6vh;
        width: 120px;
        border: 0;
        background-color: rgba(201, 141, 255, 0.85);
        color: white;
        cursor: pointer;
        border: 1px solid floralwhite;
    }

    .text-field {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        width: 50vw;
    }
    .text-field label {
        font-weight: bold;
        width: max-content;
        margin-bottom: 5px;
    }
    .text-especial{
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    input{
        border: 0.2em solid #000000;
        margin-bottom: 2%;
        margin-left: 5%;
        margin-top: 2%;
        width: 40vw;
    }

    .bar {
        width: 91vw;
        height: 1px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #F2F2F2;
        margin-bottom: 3%;
        margin-left: 20px;
    }

     ul{
        list-style-type: none;
    }
    
    .Footer{
        display: flex;
        justify-content: space-between;
        background-color: #2C2C2C;
    }
    .innerFooter{
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: #2C2C2C;
    }
    .logoFooter{
        display: flex;
        height: fit-content;
        flex-direction:column;
        align-items: center;
    }
    .logoGrande{
        height: fit-content ;

    }
    .logoGrande img{
        width: 31vw;
    }
    .logoSigla{
        width: 66%;
    }
    .logoSigla img{
        width:100% ;
    }
    .informacoes{
        display: flex;
        width: fit-content;
        justify-content: space-between;
    }
    .informacaoContatos{
        padding-top: 1vh;
        width: fit-content;
        display: flex;
        justify-content: space-around;  
        
    }
    .informacao{
        height: 20vh;
        width: 20vw;
        display: flex;
        flex-direction: column;
        color: snow;
        align-items: center;
    }
    .informacao span{
        font-family: Arial, Helvetica, sans-serif; /* Roboto */
        font-weight: bold;
        font-size: 2vh;
    }
    .informacao ul{
        padding-inline-start: 0vh;
        line-height: 3vh;
        font-size: 1.5vh;
        font-family: 'Times New Roman', Times, serif; /* Roboto */
    }
    .iconContato{
        display: flex;
        justify-content: space-between;
        /* max-height: 80vh; */
        width: 24vw;
    }
    .contato{
        color: snow;
    }
    .contato span{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 2vh;
    }
    .separador{
    display: none;
    }
    .iconsEnderecoEmail{
        margin-top: 5vh;
        display: flex;
        width: fit-content;
        flex-direction: column;
        justify-content: space-around;
    }
    .iconsEnderecoEmail img{
        width: 2vh;
    }
    .emailEndereco{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 15vh;
        margin-block-start: 0.5em;
    }
    .endereco{
        display: flex;
        flex-direction: column;
        line-height: 2vh;
    }
    .endereco span{
        font-size: 1.5vh;
        font-family: 'Times New Roman', Times, serif;
    }
    .emailTel{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        min-height: 7.5vh;
    }
    .emailTel span{
        font-size: 1.5vh;
    }
    .social{
        width: 10vw;
        max-height: 8vh;
        padding: 2vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: snow;
        background-color: #2C2C2C;
    }
    .spanSocial{
        display: flex;
        justify-content: center;
        width: 12vw;
    }
    .social span{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 2vh;
    }
    .iconsSocial{
        display: flex;
        justify-content: space-around
    }
    .iconsSocial img{
        width: 2.1vh;
    }

}