.header {
    height: var(--altura-header);
    width: var(--comprimento-header);
  }
  
  .container {
    display: flex;
    width: 80vw;
    margin: auto;
  }
  
  .header .container {
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
  
  .header a {
    text-decoration: none;
    color: #000000;
  }
  
  .agora {
    font-weight: 800;
  }
  
  .navbar {
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #e3b062;
  }
  
  .titulo {
    color: #000000;
    width: fit-content;
    font-weight: 700;
    font-size: 40px;
    margin: -80px;
  }

  .titulo_login{
    
    display: flex;
    width: 70vw;
    height: 100px;
    border-bottom: 1px solid gray;
  }
  
  .container_login_main{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 500px;
  }

  .container_login{
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 300px;
    margin: auto;
    background-color: rgba(7, 92, 171, 0.20);
  }

  















  
ul{
    list-style-type: none;
}

.Footer{
    display: flex;
    justify-content: space-between;
    background-color: #2C2C2C;
}
.innerFooter{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #2C2C2C;
}
.informacoes{
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.informacaoContatos{
    width: 80%;
    display: flex;
    justify-content: space-between;  
    
}
.informacao{
    display: flex;
    flex-direction: column;
    color: snow;
    align-items: center;

}
.informacao span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.informacao ul{
line-height: 25px;
font-size: 10px;
font-family: 'Times New Roman', Times, serif;
}
.contato{
    color: snow;
}
.contato span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.endereco{
    display: flex;
    flex-direction: column;
}
.endereco span{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.emailTel{
    display: flex;
    flex-direction: column;
}
.social{
    background-color: #2C2C2C;
}